html {
    background-image: url('../img/castle6.jpg');
    object-fit: cover;
    background-repeat: no-repeat;		
	background-position: top;	
	background-size: cover;
	height: 100vh; 
    background-attachment: fixed;
    font-family: 'IM Fell English SC', serif;
}
nav {
    display: flex;      
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
}
a:link {
    color: black;
}
h1 {
    text-align: center;
}
#grid-container {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-gap: 10px;
    /* Column and Row Sizes */
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto auto auto; 
    column-gap: 10px;
    row-gap: 15px;
}
img {
   max-width: 100%;
   min-width: 350px;
}
section {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#social-media1 {
    width: 50px;
}
#social-media2 {
    width: 50px;
}