html {
    background-color: hsl(100, 7%, 50%);
    background-image: url("../img/Butron-Castle.jpg");
    background-repeat: no-repeat;		
	background-position: top;	
	background-size: cover;
	height: 100vh;
    font-family: 'IM Fell English SC', serif;
    stroke: hsl(125, 7%, 50%);;
    stroke-width: 4px;
    color: hsl(100, 70%, 50%);
    
}
nav {
    display: flex;      
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
}
a:link {
    color: hsl(100, 70%, 50%);
}
h1 {
    text-align: center;
    font-size: 50px;
}
.image-section {        
    display: grid;
    grid-gap: 10px;      
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    align-content: center;
    max-width: 90%;   
}
img {
    max-width: 100%;
    max-height: 100%;
    border: hsl(100, 70%, 50%);
    border-style: solid;
    border-radius: 1em;
    border-width: 4px;
}
#social-media1 {
    width: 5px;
}
#social-media2 {
    width: 5px;
}
